@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  unicode-range: U+000-5FF;
  src: local('Poppins Regular'), url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  unicode-range: U+000-5FF;
  src: local('Poppins Bold'), url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

html,
body {
  @apply w-full;
  @apply h-full;
}

body {
  @apply font-main;
  @apply text-base-content;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  @apply font-poppins-bold;
}

h1 {
  @apply text-xl;
  @apply leading-13;
}

h2 {
  @apply text-lg;
  @apply leading-12;
}

h3 {
  @apply text-base;
  @apply leading-11;
}

h4 {
  @apply text-sm;
  @apply leading-sm;
}

p {
  @apply text-smbase;
  @apply leading-sm;
}

@screen md {
  h1 {
    @apply text-2xl;
    @apply leading-14;
  }

  h2 {
    @apply text-xl;
    @apply leading-13;
  }

  h3 {
    @apply text-lg;
    @apply leading-12;
  }

  h4 {
    @apply text-base;
    @apply leading-11;
  }

  p {
    @apply text-base;
    @apply leading-11;
  }
}

@screen lg {
  h1 {
    @apply text-3xl;
    @apply leading-15;
  }

  h2 {
    @apply text-2xl;
    @apply leading-14;
  }

  h3 {
    @apply text-xl;
    @apply leading-13;
  }

  h4 {
    @apply text-lg;
    @apply leading-12;
  }

  p {
    @apply text-base;
    @apply leading-11;
  }
}

.small-text {
  @apply text-sm;
  @apply leading-sm;
}

.thin-heading {
  @apply font-poppins-bold;
  @apply text-lg;
  @apply leading-3;
}

/* width vertical */
::-webkit-scrollbar {
  width: 8px;
}

/* height horizontal */
::-webkit-scrollbar:horizontal {
  height: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #bb2c75 1%, #ff98cd);
  border-radius: 10px;
}

/* Align Web3Modal with our z-index policy */
.web3modal-modal-lightbox { @apply z-modal #{!important}; }
