@import '@mdi/font/css/materialdesignicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('opentype');
}

* {
  box-sizing: border-box;
}

html,
body {
  @apply w-full;
  @apply h-full;
}

body {
  @apply font-main;
  @apply text-third;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  @apply font-poppins-bold;
}

h1 {
  @apply text-xl;
  line-height: 54px;
}

h2 {
  @apply text-lg;
  line-height: 44px;
}

h3 {
  @apply text-base;
  line-height: 42px;
}

h4 {
  @apply text-sm;
  line-height: 26px;
}

p {
  @apply text-smbase;
  line-height: 26px;
}

@screen md {
  h1 {
    @apply text-2xl;
    line-height: 62px;
  }

  h2 {
    @apply text-xl;
    line-height: 54px;
  }

  h3 {
    @apply text-lg;
    line-height: 44px;
  }

  h4 {
    @apply text-base;
    line-height: 42px;
  }

  p {
    @apply text-base;
    line-height: 42px;
  }
}

@screen lg {
  h1 {
    @apply text-3xl;
    line-height: 70px;
  }

  h2 {
    @apply text-2xl;
    line-height: 62px;
  }

  h3 {
    @apply text-xl;
    line-height: 54px;
  }

  h4 {
    @apply text-lg;
    line-height: 44px;
  }

  p {
    @apply text-base;
    line-height: 42px;
  }
}

.small-text {
  @apply text-sm;
  line-height: 26px;
}

.thin-heading {
  @apply font-poppins-bold;
  @apply text-lg;
  line-height: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #bb2c75 1%, #ff98cd);
  border-radius: 10px;
}
