@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('opentype');
  }
  
  @font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('opentype');
  }

* {
    box-sizing: border-box;
  }
  
  html,
  body {
    @apply w-full;
    @apply h-full;
  }
  
  body {
    @apply font-main;
    @apply text-third;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  .h1,
  .h2,
  .h3,
  .h4 {
    @apply font-poppins-bold;
  }
  
  h1,
  .h1 {
    @apply text-3xl;
    line-height: 70px;
  }
  
  h2,
  .h2 {
    @apply text-2xl;
    line-height: 62px;
  }
  
  h3,
  .h3 {
    @apply text-xl;
    line-height: 53px;
  }
  
  h4,
  .h4 {
    @apply text-lg;
    line-height: 12px;
  }
  
  p {
    @apply text-base;
    line-height: 41px;
  }

  .text-sm {
    line-height: 26px;
  }
